# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyenv
pyvenv.cfg

# Carpeta de JetBrain
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/